---
import ImgCard from "../../public/fotos/midudev.jpg";
---

<div
  class="absolute z-10 px-[60px] py-9 grid grid-rows-2 grid-cols-2 w-full h-full"
>
  <div class="flex gap-1">
    <img
      src={ImgCard.src}
      alt="imagen"
      class="w-[75px] h-[75px] object-cover rounded-full"
    />
    <div>
      <h3 class="text-xl text-[#FFD200] leading-[1]">midudev</h3>
      <p class="text-lg text-white/50">@minidudev</p>
    </div>
  </div>
  <div class="ml-auto">
    <svg
      class="ml-auto"
      width="81"
      height="47"
      viewBox="0 0 81 47"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_51_120)">
        <path
          d="M47.1936 42.4603C47.5308 42.0604 47.787 41.7011 47.9614 41.3824C48.1353 41.0636 48.2457 40.7633 48.2926 40.4777C48.3395 40.192 48.3357 39.9046 48.285 39.6153C48.2138 39.2229 48.0492 38.893 47.7908 38.6296C47.5325 38.3661 47.203 38.1781 46.8027 38.0713C46.4036 37.9626 45.9641 37.9496 45.4849 38.0326C44.88 38.1376 44.3577 38.3643 43.9199 38.7143C43.4817 39.0644 43.1713 39.4864 42.9858 39.9802L44.3952 40.6638C44.5244 40.4058 44.6834 40.1957 44.8727 40.0317C45.0616 39.8678 45.2696 39.7664 45.496 39.7259C45.7543 39.6817 45.9641 39.7093 46.1248 39.8088C46.286 39.9083 46.3853 40.0594 46.4207 40.2584C46.445 40.3892 46.4411 40.5256 46.4113 40.6656C46.3815 40.8056 46.3158 40.9586 46.2165 41.1263C46.1154 41.2921 45.9713 41.4966 45.7786 41.7361L43.3265 44.7008L43.3188 46.0239L48.4721 45.1301L48.4836 43.4536L46.0127 43.8829L47.1936 42.462V42.4603ZM54.1928 37.8428C53.9136 37.465 53.5696 37.1979 53.1612 37.0412C52.7532 36.8846 52.2966 36.8496 51.7931 36.9381C51.2764 37.0284 50.8254 37.2311 50.4396 37.5461C50.0542 37.8612 49.7434 38.2629 49.5038 38.7475C49.2659 39.2339 49.1124 39.7793 49.0451 40.3837C48.9777 40.9899 49.0037 41.6219 49.1218 42.2853C49.2284 42.8787 49.4194 43.3651 49.6948 43.7427C49.9698 44.1221 50.3142 44.3894 50.726 44.5443C51.1379 44.7008 51.5944 44.7339 52.1001 44.6475C52.6167 44.5573 53.0678 44.3546 53.4532 44.0394C53.839 43.7243 54.1498 43.3227 54.3838 42.838C54.6196 42.3533 54.7709 41.808 54.8421 41.2018C54.9133 40.5956 54.889 39.9617 54.7692 39.3002C54.6626 38.7069 54.4699 38.2223 54.1907 37.8428H54.1928ZM52.8845 41.6735C52.8205 42.005 52.7156 42.287 52.5677 42.5228C52.4219 42.7587 52.2254 42.8972 51.9803 42.9395C51.7462 42.9798 51.5441 42.9228 51.3698 42.7679C51.1958 42.6131 51.0705 42.3256 50.9955 41.9057C50.943 41.6164 50.917 41.2939 50.9149 40.9383C50.9132 40.5827 50.9452 40.24 51.0087 39.9083C51.0722 39.5766 51.1788 39.2947 51.325 39.0589C51.4708 38.823 51.6673 38.6848 51.9129 38.6424C52.1469 38.6019 52.349 38.659 52.523 38.8138C52.6969 38.9686 52.8227 39.256 52.8973 39.6761C52.9497 39.9654 52.9761 40.2879 52.9778 40.6435C52.9778 40.9991 52.948 41.3418 52.8845 41.6735ZM59.2711 40.3634C59.61 39.9636 59.8645 39.6043 60.0385 39.2855C60.2128 38.9667 60.3233 38.6664 60.368 38.3808C60.4149 38.0952 60.4111 37.8077 60.3603 37.5185C60.2896 37.126 60.1246 36.7962 59.8662 36.5327C59.6079 36.2673 59.2788 36.0813 58.878 35.9744C58.4794 35.8657 58.0395 35.8528 57.5603 35.9357C56.9558 36.0407 56.4336 36.2692 55.9953 36.6174C55.5575 36.9675 55.2467 37.3895 55.0612 37.8833L56.4706 38.5669C56.5998 38.3089 56.7593 38.0989 56.9481 37.9349C57.137 37.7709 57.345 37.6695 57.5714 37.629C57.8297 37.5848 58.0395 37.6124 58.2002 37.7119C58.3614 37.8114 58.4586 37.9625 58.4961 38.1615C58.5187 38.2923 58.517 38.4287 58.4867 38.5687C58.4568 38.7088 58.3912 38.8617 58.2923 39.0294C58.193 39.197 58.0467 39.3997 57.8562 39.6393L55.404 42.6038L55.3963 43.927L60.5496 43.0331L60.5607 41.3566L58.0898 41.7859L59.2711 40.3652V40.3634ZM27.1329 5.29191C26.7136 5.10949 26.2457 5.06156 25.729 5.15187C25.1076 5.25871 24.5835 5.51667 24.1548 5.92389C23.9208 6.14684 23.7224 6.40849 23.5614 6.70514C23.509 6.63514 23.4566 6.56695 23.3986 6.50614C23.1365 6.23346 22.8332 6.04735 22.4925 5.9497C22.15 5.85205 21.7887 5.83543 21.4069 5.90177C20.937 5.98285 20.5065 6.18554 20.1172 6.50984C19.9281 6.66645 19.7615 6.8544 19.6173 7.06998L19.6249 6.33296L17.474 6.70698L17.4516 14.0128L19.7203 13.6185L19.7316 9.96648C19.7371 9.39899 19.8363 8.97335 20.0329 8.68774C20.2276 8.40213 20.4971 8.23079 20.8397 8.16998C21.1579 8.11472 21.4087 8.19395 21.5903 8.40952C21.7719 8.62509 21.8636 8.97889 21.8617 9.47453L21.8355 13.2518L24.1042 12.8575L24.123 9.17604C24.1305 8.61774 24.2297 8.19949 24.4206 7.91942C24.6134 7.63935 24.8792 7.46981 25.2217 7.409C25.54 7.35374 25.7908 7.43297 25.9724 7.64854C26.1539 7.86411 26.2457 8.21976 26.2438 8.71355L26.2307 12.4871L28.4994 12.0928V8.05022C28.5069 7.30397 28.3852 6.70329 28.1362 6.24819C27.8854 5.79309 27.5522 5.47428 27.1329 5.29006V5.29191ZM31.9586 1.01151C31.6797 0.827255 31.3409 0.768291 30.9422 0.838308C30.5042 0.913856 30.1766 1.11101 29.9576 1.42609C29.7386 1.74301 29.6656 2.10047 29.7367 2.50215C29.7985 2.84119 29.9669 3.11205 30.2439 3.3092C30.521 3.5082 30.8598 3.57269 31.2585 3.50451C31.6965 3.42897 32.026 3.23181 32.2487 2.91489C32.4715 2.59797 32.5445 2.22577 32.4677 1.80013C32.406 1.4611 32.2375 1.19761 31.9567 1.01335L31.9586 1.01151ZM29.9332 11.8441L32.1907 11.4516L32.2132 4.14766L29.9538 4.53827L29.9332 11.8441ZM38.2855 3.93942C38.0422 3.67041 37.7577 3.48615 37.4282 3.39034C37.0426 3.27794 36.6158 3.26136 36.146 3.34427C35.6612 3.42903 35.2232 3.6096 34.8338 3.88967C34.4444 4.1679 34.1206 4.518 33.8642 4.93995C33.6077 5.3619 33.4318 5.83727 33.3382 6.36426C33.2446 6.89305 33.2502 7.45319 33.3569 8.04468C33.4805 8.73382 33.7163 9.29396 34.0645 9.72694C34.4126 10.1599 34.8188 10.4677 35.283 10.6464C35.7454 10.827 36.2096 10.8767 36.6701 10.7956C37.1793 10.7072 37.6098 10.5027 37.958 10.182C38.1246 10.0291 38.2706 9.85594 38.4016 9.66614L38.3941 10.3755L40.5449 10.0015L40.5767 0L38.308 0.394311L38.2911 3.93758L38.2855 3.93942ZM38.2743 7.48639C38.1957 7.80515 38.059 8.0668 37.8606 8.27133C37.6641 8.47582 37.4095 8.60482 37.0988 8.66009C36.7169 8.72643 36.3968 8.65639 36.1366 8.45005C35.8783 8.24367 35.7117 7.93595 35.6387 7.52692C35.5676 7.13443 35.5732 6.77883 35.6499 6.46007C35.7285 6.14131 35.8689 5.87597 36.0748 5.66593C36.2789 5.45586 36.5278 5.32506 36.8236 5.27344C37.2055 5.2071 37.5274 5.27898 37.7857 5.49086C38.0459 5.70093 38.2125 6.01231 38.2855 6.42138C38.3567 6.81383 38.3511 7.16947 38.2743 7.48823V7.48639ZM46.5405 5.26988C46.5405 5.82632 46.4356 6.25562 46.2224 6.5578C46.0089 6.85999 45.7113 7.04425 45.3293 7.1106C44.9699 7.17325 44.7005 7.09402 44.5172 6.87476C44.3334 6.65545 44.2456 6.31093 44.2512 5.8429L44.2622 2.05641L41.9937 2.45072L41.9768 6.48226C41.9768 7.22667 42.1023 7.82919 42.3494 8.28983C42.5965 8.75048 42.9351 9.07108 43.3657 9.25166C43.7963 9.43223 44.2755 9.47831 44.7998 9.38615C45.2769 9.30323 45.7185 9.09874 46.1248 8.77259C46.3269 8.61044 46.5051 8.41699 46.6586 8.19034L46.6547 8.94393L48.8055 8.5699L48.8281 1.2641L46.5592 1.65841L46.5422 5.27168L46.5405 5.26988Z"
          fill="#FFD200"></path>
        <path
          d="M9.10116 40.5773L15.3663 39.4901L15.3851 32.7813L23.1196 31.44L23.1495 26.1057L15.4019 27.4508L15.4112 23.8559L24.2521 22.321L24.2802 16.9886L9.17602 19.6088L9.10116 40.5773ZM32.3685 28.4568L40.2416 27.0896L40.2604 21.9985L32.391 23.3639L32.4004 20.9077L41.3461 19.3544L41.376 14.0202L26.2718 16.6422L26.197 37.6107L41.6455 34.9297L41.6755 29.5955L32.3573 31.2133L32.3685 28.4568ZM71.8218 8.7356L71.7379 8.75033L50.492 12.4299C46.1231 13.1836 43.1598 16.1814 43.1073 19.815C42.9858 27.5022 52.3622 23.607 52.4219 26.5017C52.4368 27.0987 51.8004 27.6275 50.9149 27.7804L43.7438 29.0186L43.639 34.5777L50.8701 33.3302C55.9169 32.4587 58.0842 29.0905 58.1554 25.9028C58.3127 17.9097 48.7398 21.9597 48.7398 18.9932C48.7398 18.5768 49.118 18.2082 49.6479 18.118L60.0837 16.2809L60.0385 31.7383L66.3036 30.6511L66.3488 15.179L71.7903 14.2209L71.8201 8.7374L71.8218 8.7356Z"
          fill="white"></path>
        <path
          d="M7.11883 46.9232C6.2784 47.0684 5.53524 47.008 4.89133 46.7407C4.24739 46.4734 3.74573 45.9979 3.38446 45.3143C3.02319 44.6307 2.84349 43.7427 2.84349 42.6538L2.86969 34.8265C2.86408 34.1872 2.74054 33.7468 2.50281 33.5036C2.26508 33.2604 1.9244 33.1774 1.48264 33.2548L0.380104 33.4465L0.387591 29.4702L1.49012 29.2786C1.97307 29.1938 2.32685 28.9911 2.55147 28.6687C2.77423 28.3462 2.88467 27.8653 2.87718 27.2259L2.9296 18.8238C2.9427 17.3276 3.28525 16.1558 3.95726 15.3045C4.6274 14.4532 5.72056 13.8967 7.23304 13.6333L13.2736 12.5849L13.2661 14.7185L7.57371 15.7062C6.73323 15.8517 6.12675 16.1889 5.75612 16.7159C5.3836 17.2429 5.1927 17.897 5.18144 18.6819L5.14214 26.7966C5.14026 27.5079 5.06915 28.0827 4.93064 28.5212C4.79209 28.9598 4.57309 29.3117 4.27548 29.5771C3.97597 29.8424 3.56229 30.069 3.03255 30.2551L3.04004 31.7771C3.69145 31.7826 4.2006 31.9964 4.56934 32.4183C4.9381 32.8403 5.11967 33.5257 5.11596 34.4746L5.0729 42.0218C5.0729 43.1108 5.29565 43.8682 5.73928 44.2883C6.1829 44.7083 6.75195 44.8594 7.44454 44.7377L38.6506 39.3685L38.6431 41.5022L7.12259 46.9249L7.11883 46.9232ZM70.525 35.9745L70.5322 33.8408L73.4376 33.3322C74.2983 33.183 74.9105 32.8458 75.272 32.3207C75.6331 31.7955 75.8186 31.1414 75.8296 30.3583L75.8689 22.2436C75.8876 21.5066 75.9626 20.9188 76.0897 20.4803C76.2172 20.0436 76.4363 19.6917 76.7449 19.4245C77.054 19.1573 77.4658 18.9436 77.9787 18.7833L77.971 17.2613C77.3196 17.2558 76.8106 17.042 76.4418 16.6201C76.0731 16.1981 75.8915 15.5127 75.8953 14.5638L75.9384 7.01661C75.9384 5.92764 75.7154 5.17035 75.272 4.75024C74.8282 4.33014 74.2591 4.17903 73.5668 4.30064L53.2848 7.79786L53.2605 5.66968L73.8886 2.11351C74.7289 1.96794 75.472 2.02875 76.1161 2.29592C76.7599 2.56309 77.2616 3.03848 77.6231 3.72207C77.9842 4.40567 78.1637 5.29381 78.1637 6.38274L78.1079 14.2155C78.1134 14.8549 78.2405 15.2934 78.4894 15.5348C78.7384 15.7762 79.0735 15.861 79.493 15.7872L80.5954 15.5956L80.6197 19.5664L79.5173 19.758C79.0343 19.8427 78.6804 20.0454 78.4557 20.3679C78.2315 20.6903 78.1228 21.1712 78.13 21.8106L78.0776 30.2127C78.0627 31.7089 77.7221 32.8808 77.0502 33.7321C76.3783 34.5833 75.2869 35.1398 73.7744 35.4033L70.5229 35.9726L70.525 35.9745Z"
          fill="#FFD200"></path>
        <path
          d="M61.3083 41.6405L61.3624 40.0099L64.5725 34.73L66.0224 34.5454L65.9503 36.7196L65.1218 36.8251L63.3963 39.6909L63.3894 39.7519L67.8872 39.1794L67.8331 40.81L61.3083 41.6405ZM64.9572 42.3789L65.0163 40.6724L65.0867 39.9568L65.2531 34.6433L67.1765 34.3985L66.925 42.1284L64.9572 42.3789Z"
          fill="#FFD200"></path>
      </g>
      <defs>
        <clipPath id="clip0_51_120">
          <rect width="81" height="47" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    <p class="text-right text-lg">Marzo 30 2024</p>
    <p class="text-right text-[15px]">11:00 GMT-6</p>
  </div>
  <div class="mt-auto text-[40px] leading-none">
    <h2>#00001</h2>
  </div>
</div>

<!-- aquí está el BG -->
<svg
  class="absolute z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
  width="561"
  height="281"
  viewBox="0 0 561 281"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M5 138.536C7.45677 138.08 10.1473 137.229 12.6332 135.732C17.3385 132.898 20.9861 127.901 20.9861 120.287V20C20.9861 16.0399 22.2793 12.291 24.7057 9.59442C27.0488 6.99046 30.7718 5 36.4664 5H529.5C534.537 5 538.006 6.45208 540.214 8.66053C542.419 10.8651 544 14.4559 544 20V118.5C544 121.565 544.01 126.488 546.275 130.597C547.498 132.815 549.341 134.761 551.961 136.099C553.198 136.731 554.546 137.197 556 137.509V143.991C553.645 144.885 551.339 146.398 549.384 148.605C546.042 152.378 544 157.848 544 165V261.5C544 265.856 542.528 269.439 540.151 271.904C537.801 274.341 534.266 276 529.5 276H35.5C32.233 276 28.5438 274.917 25.7628 272.592C23.1337 270.394 20.9861 266.823 20.9861 261V163.291C21.0833 159.88 19.9543 155.164 16.7285 151.202C14.0836 147.954 10.2083 145.434 5 144.449V138.536Z"
    stroke="#FFD200"
    stroke-width="10"></path>
</svg>
<svg
  class="absolute z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 blur-[15px] opacity-80"
  width="561"
  height="281"
  viewBox="0 0 561 281"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M5 138.536C7.45677 138.08 10.1473 137.229 12.6332 135.732C17.3385 132.898 20.9861 127.901 20.9861 120.287V20C20.9861 16.0399 22.2793 12.291 24.7057 9.59442C27.0488 6.99046 30.7718 5 36.4664 5H529.5C534.537 5 538.006 6.45208 540.214 8.66053C542.419 10.8651 544 14.4559 544 20V118.5C544 121.565 544.01 126.488 546.275 130.597C547.498 132.815 549.341 134.761 551.961 136.099C553.198 136.731 554.546 137.197 556 137.509V143.991C553.645 144.885 551.339 146.398 549.384 148.605C546.042 152.378 544 157.848 544 165V261.5C544 265.856 542.528 269.439 540.151 271.904C537.801 274.341 534.266 276 529.5 276H35.5C32.233 276 28.5438 274.917 25.7628 272.592C23.1337 270.394 20.9861 266.823 20.9861 261V163.291C21.0833 159.88 19.9543 155.164 16.7285 151.202C14.0836 147.954 10.2083 145.434 5 144.449V138.536Z"
    stroke="#FFD200"
    stroke-width="10"></path>
</svg>

<div class="relative overflow-hidden">
  <svg
    width="601"
    height="313"
    viewBox="0 0 601 313"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_b_51_154)">
      <path
        d="M20 132.653C20 145.269 6.89884 148.547 1 148.547V165.002C14.7282 165.002 20 173.944 19.9368 179.925V287.579C19.9368 303.485 35.3852 312 45.8503 312H557.143C574.086 312 585 300.038 585 284.588V182.005C585 168.402 594.637 164.636 600 164.453V148.547C587.559 148.547 585 139.222 585 132.092V27.4151C585 9.97115 570.598 1 557.143 1H46.5C30.5 1 20 13.9169 20 25.8403V132.653Z"
        fill="#111111"
        fill-opacity="0.5"></path>
      <path
        d="M20 132.653C20 145.269 6.89884 148.547 1 148.547V165.002C14.7282 165.002 20 173.944 19.9368 179.925V287.579C19.9368 303.485 35.3852 312 45.8503 312H557.143C574.086 312 585 300.038 585 284.588V182.005C585 168.402 594.637 164.636 600 164.453V148.547C587.559 148.547 585 139.222 585 132.092V27.4151C585 9.97115 570.598 1 557.143 1H46.5C30.5 1 20 13.9169 20 25.8403V132.653Z"
        stroke="#222222"
        stroke-opacity="0.5"></path>
    </g>
    <defs>
      <filter
        id="filter0_b_51_154"
        x="-19.5"
        y="-19.5"
        width="640"
        height="352"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="10"
        ></feGaussianBlur>
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur_51_154"></feComposite>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_backgroundBlur_51_154"
          result="shape"></feBlend>
      </filter>
    </defs>
  </svg>
</div>
